<h1 class="bg-warning notice"><%= @error %></h1>
<div class="jumbotron">
    <h1>Tech-Test</h1>
    <h2 class="pull-left">Ruby on Rails</h2>
    <%= link_to "connect with Instagram", @url, class: 'btn btn-info pull-right'%>
</div>
<h3 class="notice">Welcome to my Tech Test project with the Instagram API!</h3>
<h3 class="col-sm-4 col-xs-12">Log in with your Instagram account!</h3>
<h3 class="col-sm-4 col-xs-12">View all your Instagram Photos and account details!</h3>
<h3 class="col-sm-4 col-xs-12">The Instagram API will only allow "Sandbox Users" to access the site.</h3>