<% if @error == 'user_denied' %>
    <h1>You Denied the Authorization! Please Try Again</h1>
<% elsif @error %>
    <h1><%= @error %></h1>
<% end %>

<div class="jumbotron">
    <h1>Tech-Test</h1>
    <h2 class="pull-left">Ruby on Rails</h2>
    <% if !@user %>
        <%= link_to "connect with Instagram", @url, class: 'btn btn-info pull-right'%>
    <% end %>
</div>
<h3 class="note">Welcome to my Tech Test project with the Instagram API!</h3>
<h3 class="notice">Log in with your Instagram account!</h3>
<h3 class="notice">View all your Instagram Photos and account details!</h3>
<h3 class="notice">The Instagram API will only allow "Sandbox Users" to access the site.</h3>
<h3 class="notice"><a href="https://www.linkedin.com/in/brandonarmand/" target="_blank">LinkedIn</a></h3>
<h3 class="notice"><a href="https://github.com/BrandonArmand/instagram-api-client" target="_blank">GitHub</a></h3>
<h3 class="notice"><a href="http://brandonarmand.com/" target="_blank">Personal Site</a></h3>
