.row
  %img.center-block.img-circle{:src => "<haml_loud"}/
  @user.profile_picture  /&gt;
  %p
  %h1.pull-left= @user.username
  %h3.pull-right= link_to 'logout', :logout
%h3= @user.bio
.col-sm-12.media
  - @media.each do |photo|
    %img{:src => "<haml_loud"}/
    photo.images.low_resolution.url &gt;
