@import "bootstrap-sprockets";
@import "bootstrap";

body{
    padding-bottom: 50px;
}

.jumbotron{
    padding-bottom: 8rem;
}

.navbar-fixed-bottom{
    p{
        margin-top: 20px;
        margin-bottom: 1px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.notice{
    text-align: center;
}

.row{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    img{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 1rem;
    }
}

.body{
    width: 100%;
}
