<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
  <navbar class="navbar-fixed-bottom">
    <div class="container">
      <h3 class="col-sm-3 btn notice"><a href="https://www.linkedin.com/in/brandonarmand/" target="_blank">LinkedIn</a></h3>
      <h3 class="col-sm-3 btn notice"><a href="https://github.com/BrandonArmand/instagram-api-client" target="_blank">GitHub</a></h3>
      <h3 class="col-sm-3 btn notice"><a href="http://brandonarmand.com/" target="_blank">Personal Site</a></h3>
      <p class="col-sm-3 notice">Made by Brandon Armand Welsh</p>
    </div>
  </navbar>
</div>
</body>
</html>
